<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- Property -->
    <property name="LOG_PATH" value="./logs"></property>
    <property name="LOG_FILENAME" value="logback"></property>

    <!-- Appender -->
    <appender name="StdOutAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%magenta(%d{yyyy-MM-dd HH:mm:ss}:%relative)] | [%thread] | [%highlight(%level)] %cyan(%logger{35}) - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- FilePath -->
        <file>${LOG_PATH}/${LOG_FILENAME}.log</file>

        <!-- Message -->
        <encoder>
            <pattern>
                [%magenta(%d{yyyy-MM-dd HH:mm:ss}:%relative)] | [%thread] | [%highlight(%level)] %cyan(%logger{35}) - %msg%n
            </pattern>
        </encoder>

        <!-- RollingPolicy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILENAME}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Root -->
    <root level="INFO">
        <appender-ref ref="StdOutAppender"/>
        <appender-ref ref="FileAppender"/>
    </root>
</configuration>