<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>인증코드를 입력해주세요!</title>
</head>
<body style="text-align: center;">
<header style="text-align: center;">
    <a href="http://pango.com:8383/" target="_blank" style="text-decoration: none; color: #b6b6b6;">
        <img src="https://gg-pigs.com/images/rhkdrhehowl.png" alt="pigs95team" width="128px" height="5%">
    </a>
</header>
<section style="text-align: center; margin-top: 2%">
    <table style="margin-left: auto; margin-right: auto">
        <tr>
            <th>광고돼지 서비스를 이용하기 위해 아래의 '인증코드'를 입력해주세요.</th>
        </tr>
        <tr>
            <th style="color: #9e1e65">
                <h1 id="verificationCode" style="text-align: center;">620124</h1>
            </th>
        </tr>
        <tr>
            <th>
                감사합니다.
            </th>
        </tr>
    </table>
</section>
<footer style="text-align: center; margin-top: 2%; margin-left: auto; margin-right: auto; width: 30%; color: #b6b6b6;">
    <hr>
    &copy;2020 PangGo, Inc. All rights reserved
</footer>
</body>
</html>